@model List<ECoupoun.Entities.ProductModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}
@section scripts
{
    <script type="text/javascript">
        var BlockNumber = 2;  //Infinate Scroll starts from second block
        var NoMoreData = false;
        var inProgress = false;

        var manufacturer, provider, color, size, price;

        $(document).on('click', '.dropdown-menu li a', function (e) {
            GetProducts();
        });

        $(document).on("click", ".btnApply", function () {
            NoMoreData = false;
            BlockNumber = 2;
            GetProducts();
        });

        $(document).on("click", ".btnClear", function (e) {
            e.preventDefault();
            e.stopPropagation();
            $("#" + $(this).data("selectid")).selectpicker('deselectAll');
        });

        var $window = $(window),
            $stickyEl = $('.productFilter'),
            elTop = $stickyEl.offset().top;

        $window.scroll(function () {
            $stickyEl.toggleClass('navbar-fixed-top sticky', $window.scrollTop() > elTop);
        });

        $(window).scroll(function () {
            if ($(window).scrollTop() == $(document).height() - $(window).height() && !NoMoreData && !inProgress) {
                inProgress = true;
                $("#loadingDiv").show();
                manufacturer = $("#Manufacturer").val() ? $("#Manufacturer").val().toString() : '';
                provider = $("#Provider").val() ? $("#Provider").val().toString() : '';
                color = $("#Color").val() ? $("#Color").val().toString() : '';
                size = $("#Size").val() ? $("#Size").val().toString() : '';
                price = $("#Price").val() ? $("#Price").val().toString() : '';
                $.post("/Ajax/Product/GetProductList", { sortBy: $("#sort").val(), manufacturer: manufacturer, provider: provider, color: color, size: size, "blockNumber": BlockNumber, price: price },
                    function (data) {
                        BlockNumber = BlockNumber + 1;
                        NoMoreData = data.NoMoreData;
                        $("#productListDiv").append(data.HTMLString);
                        $("#loadingDiv").hide();
                        inProgress = false;
                    });
            }
        });

        function GetProducts() {
            manufacturer = $("#Manufacturer").val() ? $("#Manufacturer").val().toString() : '';
            provider = $("#Provider").val() ? $("#Provider").val().toString() : '';
            color = $("#Color").val() ? $("#Color").val().toString() : '';
            size = $("#Size").val() ? $("#Size").val().toString() : '';
            price = $("#Price").val() ? $("#Price").val().toString() : '';
            $.ajax({
                url: "/Ajax/Product/GetProductList",
                data: { sortBy: $("#sort").val(), manufacturer: manufacturer, provider: provider, color: color, size: size, price: price },
                type: "post",
                success: function (data) {
                    $("#productListDiv").html(data.HTMLString);
                    $("#loadingDiv").hide();
                }
            });
        }
    </script>
}
<div class="content_top">
    <div class="back-links">
        @Html.Raw(ViewBag.BreadCrumb)
    </div>
    <div class="clear">
    </div>
</div>
<div class="section group">
    @if (Model.Count > 0)
    {
        <div id="filters" class="cont-desc span_1_of_2 productFilter">
            <select id="sort" name="sort" class="selectpicker" data-done-button="true" data-none-selected-text="Sort By">
                <option value="low">Price: Low to High</option>
                <option value="high">Price: High to Low</option>
            </select>

            <select id="Price" name="Price" class="selectpicker" data-done-button="true" multiple data-none-selected-text="Price" data-clear-button-select-id="Price">
                <option value="0-99">Under $100</option>
                <option value="100-200">$100 - $200</option>
                <option value="201-10000">Over $200</option>
            </select>

            @Html.DropDownList("Size", (IEnumerable<SelectListItem>)ViewBag.SizeList, new { @class = "selectpicker", @multiple = "multiple", @data_done_button = "true", data_none_selected_text = "Size", data_clear_button_select_id = "Size", data_live_search = "true" })

            @Html.DropDownList("Color", (IEnumerable<SelectListItem>)ViewBag.ColorList, new { @class = "selectpicker", @multiple = "multiple", @data_done_button = "true", data_none_selected_text = "Color", data_clear_button_select_id = "Color", data_live_search = "true" })

            @Html.DropDownList("Manufacturer", (IEnumerable<SelectListItem>)ViewBag.ManufacturerList, new { @class = "selectpicker", @multiple = "multiple", @data_done_button = "true", data_none_selected_text = "Brand", data_clear_button_select_id = "Manufacturer", data_live_search = "true" })

            @Html.DropDownList("Provider", (IEnumerable<SelectListItem>)ViewBag.ProviderList, new { @class = "selectpicker", @multiple = "multiple", @data_done_button = "true", data_none_selected_text = "Store", data_clear_button_select_id = "Provider", data_live_search = "true" })

        </div>
    }
</div>
@if (ViewBag.SubCategories != null)
{
    <div class="section group span_1_of_2">
        Related:
        <span class="related">
            @foreach (var item in ViewBag.SubCategories)
            {
                <a href="/buy_sub_@item.MappingName">@item.Name</a>@:,
            }
        </span>
    </div>
}
<div class="section group">
    <div id="productListDiv" class="cont-desc span_1_of_2 productList">
        @{Html.RenderPartial("_ProductPartial", Model);}
    </div>
    <div id="loadingDiv" style="text-align: center; display: none; margin-bottom: 20px;">
        <img alt="Loading" src="@Url.Content("~/Content/images/ajax-loader.gif")" />
    </div>
    @* @if (ViewBag.SubCategories.Count > 0)
        {
            <div class="rightsidebar span_3_of_1">
                <h2>CATEGORIES</h2>
                <ul>
                    @foreach (var item in ViewBag.SubCategories)
                    {
                        <li><a href="/buy_sub_@item.MappingName">@item.Name</a></li>
                    }
                </ul>
            </div>
        }*@
</div>
