@model List<ECoupoun.Entities.ProductModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}

<div class="content_top">
    <div class="back-links">
        @Html.Raw(ViewBag.BreadCrumb)
    </div>
    @*  <div class="sort">
        <p>
            Sort by:
            <select>
                <option>Lowest Price</option>
                <option>Highest Price</option>
                <option>Lowest Price</option>
                <option>Lowest Price</option>
                <option>Lowest Price</option>
                <option>In Stock</option>
            </select>
        </p>
    </div>
    <div class="show">
        <p>
            Show:
            <select>
                <option>4</option>
                <option>8</option>
                <option>12</option>
                <option>16</option>
                <option>20</option>
                <option>In Stock</option>
            </select>
        </p>
    </div>
    <div class="page-no">
        <p>
            Result Pages:<ul>
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li>[<a href="#"> Next>>></a>]</li>
            </ul>
        </p>
    </div>*@
    <div class="clear"></div>
</div>
<div class="section group">
    <div class="cont-desc span_1_of_2">
        <ul>
            @foreach (var item in Model)
            {
                <li class="product_list col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div id="product_item" class="product_detail" data-providerid="@item.ProviderId" data-sku="@item.Sku" data-producturl="@item.ProductUrl">
                        <div class="product_img">
                            <a href="@item.ProductUrl">
                                <img src="@item.ImageUrl" alt="Product Image" /></a>
                        </div>

                        <a href="@item.ProductUrl">
                            <div class="product_name">

                                @if (item.ProductName.Length > 50)
                                {
                                    <h4 title="@item.ProductName">
                                        @item.ProductName.Substring(0, 50) <span>...</span>
                                    </h4>
                                }
                                else
                                {
                                    <h4>
                                        @item.ProductName
                                    </h4>
                                }

                            </div>
                            <div class="product_price">
                                <p><span class="actual-price">@item.SalePrice</span></p>
                            </div>

                        </a>
                        @*<div style="height:25%">
                            <div class="button">
                                <span>
                                    <a href="@item.ProductUrl">View</a></span></div></div>*@
                    </div>
                    @*<div class="grid_1_of_4 images_1_of_4 prt_img_height">
                            <div style="height:25%"><a href="preview-3.html"><img src="@item.ImageUrl" alt="" /></a></div>
                            <div style="height:20%"><h2>@item.ProductName </h2></div>
                            <div style="height:20%"><p><span class="price">@item.SalePrice</span></p></div>
                            <div style="height:25%"><div class="button"><span><a href="@item.ProductUrl" @*class="details">View</a></span></div></div>
                        </div>*@
                </li>
            }
        </ul>
    </div>

    @if (ViewBag.SubCategories.Count > 0)
    {
        <div class="rightsidebar span_3_of_1">
            <h2>CATEGORIES</h2>
            <ul>
                @foreach (var item in ViewBag.SubCategories)
                {
                    <li><a href="/buy_sub_@item.MappingName">@item.Name</a></li>
                }
            </ul>
        </div>
    }
</div>
